<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Gerenciar_Perfil</servlet-name>
        <servlet-class>controle.Gerenciar_Perfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gerenciar_Menu</servlet-name>
        <servlet-class>controle.Gerenciar_Menu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gerenciar_Usuario</servlet-name>
        <servlet-class>controle.Gerenciar_Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gerenciar_usuario</servlet-name>
        <servlet-class>controle.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gerenciar_user</servlet-name>
        <servlet-class>controle.Gerenciar_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gerenciar_Usuarios</servlet-name>
        <servlet-class>controle.Gerenciar_Usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gerenciar_Menu_Perfil</servlet-name>
        <servlet-class>controle.Gerenciar_Menu_Perfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gerenciar_Fornecedor</servlet-name>
        <servlet-class>controle.Gerenciar_Fornecedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gerenciar_Produto</servlet-name>
        <servlet-class>controle.Gerenciar_Produto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gerenciar_Login</servlet-name>
        <servlet-class>controle.Gerenciar_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gerenciar_Cliente</servlet-name>
        <servlet-class>controle.Gerenciar_Cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gerenciar_Carrinho</servlet-name>
        <servlet-class>controle.Gerenciar_Carrinho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gerenciar_Venda</servlet-name>
        <servlet-class>controle.Gerenciar_Venda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controle.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Gerenciar_Perfil</servlet-name>
        <url-pattern>/gerenciar_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gerenciar_Menu</servlet-name>
        <url-pattern>/gerenciar_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gerenciar_Usuario</servlet-name>
        <url-pattern>/gerenciar_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gerenciar_usuario</servlet-name>
        <url-pattern>/gerenciar_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gerenciar_user</servlet-name>
        <url-pattern>/gerenciar_user.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gerenciar_Usuarios</servlet-name>
        <url-pattern>/gerenciar_usuarios.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gerenciar_Menu_Perfil</servlet-name>
        <url-pattern>/gerenciar_menu_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gerenciar_Fornecedor</servlet-name>
        <url-pattern>/gerenciar_fornecedor.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gerenciar_Produto</servlet-name>
        <url-pattern>/gerenciar_produto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gerenciar_Login</servlet-name>
        <url-pattern>/gerenciar_login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gerenciar_Cliente</servlet-name>
        <url-pattern>/gerenciar_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gerenciar_Carrinho</servlet-name>
        <url-pattern>/gerenciar_carrinho.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gerenciar_Venda</servlet-name>
        <url-pattern>/gerenciar_venda.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/gerenciar_deletar.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
